.countries {
	display: grid;
	gap: clamp(2rem, 2rem + 2vw, 4.5rem);
	padding: 0 1rem;
	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem;
	}
	@media (min-width: 1024px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (min-width: 1440px) {
		grid-template-columns: repeat(4, 1fr);
	}
}
