.country {
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	background-color: $clr-light-elements;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	&__imgContainer {
		-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);

		&__img {
			aspect-ratio: 16/9;
			object-fit: cover;
			height: 100%;
		}
	}

	&__heading {
		margin-left: 1.2rem;
		margin-top: 0.6rem;
		font-size: 18px;
		font-weight: $fw-bold;
	}

	&__details {
		margin-left: 1.2rem;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
		font-weight: $fw-medium;
		font-size: 14px;

		&__population {
			&__span {
				font-weight: $fw-light;
			}
		}
	}
}

#dark .country {
	background-color: $clr-dark-elements;
	color: $clr-dark-text;
}
