.countryDetails {
	margin: 1rem;

	&__imgContainer {
		margin: 2rem 0;
		max-width: 560px;

		&__img {
			aspect-ratio: 16/9;
			object-fit: cover;
			border-radius: 5px;
			-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		}
	}

	.gridContainer {
		display: flex;
		flex-direction: column;
		gap: 1.4rem;

		&__countryName {
			font-size: 22px;
			font-weight: $fw-bold;
		}

		&__basicInfo {
			display: flex;
			flex-direction: column;
			gap: 0.6rem;
			font-weight: $fw-medium;
			font-size: 14px;

			&__span {
				font-weight: $fw-light;
				margin-left: 0.4rem;
			}
		}

		&__advancedInfo {
			display: flex;
			flex-direction: column;
			gap: 0.6rem;
			font-weight: $fw-medium;
			font-size: 14px;

			&__span {
				font-weight: $fw-light;
				margin-left: 0.4rem;
			}
		}

		&__border {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&__countries {
				display: flex;
				flex-wrap: wrap;
				gap: 0.4rem;

				span {
					padding: 0.4rem 1.2rem;
					font-size: 12px;
					background-color: $clr-light-elements;
					border-radius: 2px;
					box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
				}
			}
		}
	}
}

#dark .countryDetails {
	color: $clr-dark-text;
	.gridContainer {
		&__border {
			&__countries {
				span {
					background-color: $clr-dark-elements;
					color: $clr-dark-text;
				}
			}
		}
	}
}

.flexLanguages > *:not(:last-child)::after {
	content: ', ';
}
