$clr-dark-elements: hsl(209, 23%, 22%);
$clr-background-dark: hsl(207, 26%, 17%);
$clr-light-text: hsl(200, 15%, 8%);
$clr-light-input: hsl(0, 0%, 52%);
$clr-background-light: hsl(0, 0%, 98%);
$clr-dark-text: hsl(0, 0%, 100%);
$clr-light-elements: hsl(0, 0%, 100%);
